.toggle-btn {
  background-color: #818181;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  width: 43px;
  height: 25px;
  transition: background-color 0.1s, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
  padding: 5px 5px;
}

.toggle-btn .thumb {
  height: 18px;
  width: 18px;
  background-color: #ffff;
  border-radius: 10px;
  transform: translateX(0);
  transition: left 0.12s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn.toggled {
  background-color: #226b53;
}

.toggle-btn.toggled .thumb {
  left: 50%;

  transition: left 0.12s ease-in;
}
